<header>
  <%= form_tag do %>
    <table style="float: right;">
      <tr>
        <td>Question:</td>
        <td><%= select_tag :question, options_for_select(@question_options, @question) %></td>
        <td>Group by:</td>
        <td><%= select_tag :bar_meaning, options_for_select(@bar_meaning_options, @bar_meaning) %></td>
      </tr>
      <tr>
        <td>Units:</td>
        <td><%= select_tag :unit, options_for_select(@unit_options, @unit) %></td>
        <td>Stacking:</td>
        <td><%= select_tag :stack_bars, options_for_select(['stacked bars', 'unstacked'], params[:stack_bars]) %></td>
      </tr>
      <tr>
        <td colspan="5"><%= submit_tag 'Chart this data' %></td>
      </tr>
    </table>
    <div id="logo">
      <%= image_tag 'https://www.concern.net/profiles/concern/themes/custom/concernnet/logo.png?1' %>
    </div>
  <% end %>
</header>
<% if @data
  # Format array the way that Google wants it
  expanded_array = @data.to_json.html_safe.to_s
  formatted_array = expanded_array.gsub(', nil', ', null') %>
  <div style="background-color: white; position: relative; padding-bottom: 10px;">
    <p style="padding: 10px 10px 0 10px;">
      <span style="font-weight: bold;">Question <%= @question %>:</span><br />
      <%= @question_text %>
    </p>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart", "table"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(<%= formatted_array.html_safe %>);

        var chart_options = {
          bar: { groupWidth: '75%' },
          isStacked: <%= params[:stack_bars] == 'stacked bars' %>,
          series: [{color: '#A14F0C'}, {color: '#00A76D'}, {color: '#8E0042'}, {color: '#00734A'}]
        };
        var table_options = {
          width: 825
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, chart_options);

        var table = new google.visualization.Table(document.getElementById('table_div'));
          table.draw(data, table_options);
      }
    </script>
    <% if false #if @pvalue > 0.05 %>
      <div style="position:absolute;left:300px;top:250px;font-size:20px;">
        Trend is not statistically significant
      </div>
    <% end %>
    <div id="chart_div" style="height: 392px; width: 100%;">
    </div>
    <div style="height: 50px; padding: 10px;">
      <div style="height: 45px; border: 1px solid black; padding: 5px; float: left; width: 120px; font-size: 8pt;">
        P-value
        <div style="font-size: 20pt;">
          <%= "%.3f" % @pvalue %>
        </div>
      </div>
      <div style="border: 1px dashed black; height: 45px; padding: 5px; margin-left: 140px; width: 728px;">
        <% if @color_meanings.length < 2 %>
          With zero degrees of freedom, a meaningful P-value could not be calculated.
        <% else
          if @pvalue > 0.05 %>
            The trend is <span style="color: #8E0042;">not statistically significant</span> (p &gt; .05) suggesting that responses between <%= @bar_meaning == 'area' ? 'areas' : 'rounds' %> do not differ more than by chance.
          <% else %>
            The trend is statistically significant (p &lt; .05) suggesting that <%= @bar_meaning == 'area' ? 'area' : 'round' %> influences the responses to this question.
          <% end %>
          P-value was calculated with the &chi;&sup2; test using <%= pluralize(@color_meanings.length-1, 'degree') %> of freedom.
        <% end %>
      </div>
    </div>
  </div>
  <div id="table_div" style="width: 100%; margin-top: 10px;"></div>
<% else %>
  <div style="background-color: white; height: 180px; text-align: right; padding: 120px 30px 0 0;">
    Submit query to begin &#11014;
  </div>
<% end %>