<h1>Tools</h1>
<p>
  Database holds <%= @q_count %> questionnaires from <%= @r_count %> rounds covering <%= @a_count %> informal areas.
</p>
<p>
  <%= link_to 'Bar chart', :action => 'bar' %><br />
  <%= link_to 'Line chart', :action => 'line' %><br />
</p>
