<header>
  <%= form_tag do %>
    <table style="float: right;">
      <tr>
        <td>Question:</td>
        <td><%= select_tag :question, options_for_select(@question_options, @question) %></td>
      </tr>
      <tr>
        <td colspan="5"><%= submit_tag 'Chart this data' %></td>
      </tr>
    </table>
    <div id="logo">
      <%= image_tag 'https://www.concern.net/profiles/concern/themes/custom/concernnet/logo.png?1' %>
    </div>
  <% end %>
</header>
<% if @data
  # Format array the way that Google wants it
  expanded_array = @data.to_json.html_safe.to_s
  formatted_array = expanded_array.gsub(', nil', ', null') %>
  <div style="background-color: white; position: relative; padding-bottom: 10px;">
    <p style="padding: 10px 10px 0 10px;">
      <span style="font-weight: bold;">Question <%= @question %>:</span><br />
      <%= @question_text %>
    </p>
    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>
    <script>
      google.load("visualization", "1", {packages:["corechart", "table"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'round');
        data.addColumn('number', '<%= @question %>');
        data.addColumn({id:'lim', type:'number', role:'interval'});
        data.addColumn({id:'lim', type:'number', role:'interval'});
        data.addColumn({id:'std', type:'number', role:'interval'});
        data.addColumn({id:'std', type:'number', role:'interval'});

        data.addRows(<%= formatted_array.html_safe %>);

        var options_lines = {
          curveType:'function',
          lineWidth: 2,
          intervals: { 'color':'series-color' },
          interval: {
            'lim': { 'style':'area', 'curveType':'function', 'fillOpacity':0.1 },
            'std': { 'style':'area', 'curveType':'function' }
          },
          series: [{color: '#00A76D'}],
          legend: 'none'
        };

        var table_options = {
          width: 825
        };

        var chart_lines = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart_lines.draw(data, options_lines);

        var table = new google.visualization.Table(document.getElementById('table_div'));
        table.draw(data, table_options);
      }
    </script>
    <div id="chart_div" style="height: 392px; width: 100%;"></div>
  </div>
  <div id="table_div" style="width: 100%; margin-top: 10px;"></div>
<% else %>
  <div style="background-color: white; height: 180px; text-align: right; padding: 120px 30px 0 0;">
    Submit query to begin &#11014;
  </div>
<% end %>