<div style="height: 405px; width: 100%;">
  <div style="float: left;">
    <%= form_tag do |f| %>
      <table cellpadding="0" cellspacing="0">
        <tr>
          <td style="padding-right: 5px;">
            x axis
          </td>
          <td>
            <% x_select = Hash[@x_axis_options.map{|i| [field_name_hash[i], i]}] %>
            <%= select_tag :x, options_for_select(x_select, params[:x]) %>
          </td>
        </tr>
        <tr>
          <td>
            y axis
          </td>
          <td>
            <% y_select = {
              'Demographics' =>
              Hash[@y_axis_options[1..5].map{|i| [field_name_hash[i], i]}],
              'Water' =>
              Hash[@y_axis_options[6..14].map{|i| [field_name_hash[i], i]}],
              'Hygiene' =>
              Hash[@y_axis_options[15..24].map{|i| [field_name_hash[i], i]}],
              'Food' =>
              Hash[@y_axis_options[25..39].map{|i| [field_name_hash[i], i]}],
              'Health' =>
              Hash[@y_axis_options[40..43].map{|i| [field_name_hash[i], i]}],
              'Relationships' =>
              Hash[@y_axis_options[44..47].map{|i| [field_name_hash[i], i]}],
              'Shocks' =>
              Hash[@y_axis_options[48..55].map{|i| [field_name_hash[i], i]}],
              'Security' =>
              Hash[@y_axis_options[56..59].map{|i| [field_name_hash[i], i]}],
              'Housing' =>
              Hash[@y_axis_options[60..60].map{|i| [field_name_hash[i], i]}],
              'Livelihoods' => 
              Hash[@y_axis_options[61..74].map{|i| [field_name_hash[i], i]}],
              'Coping' =>
              Hash[@y_axis_options[75..84].map{|i| [field_name_hash[i], i]}]
            } %>
            <%= select_tag :y, grouped_options_for_select(y_select, params[:y]) %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td style="padding-top: 10px; color: silver;">bar chart options</td>
        </td>
        <tr>
          <td>
            units
          </td>
          <td>
            <%= select_tag :units, options_for_select(@units_options, params[:units]) %>
          </td>
        </tr>
        <tr>
          <td>
            stack
          </td>
          <td>
            <%= select_tag :stack_bars, options_for_select(@stack_options, params[:stack_bars]) %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td style="padding-top: 10px; color: silver;">line chart options</td>
        </td>
        <tr>
          <td></td>
          <td style="font-size: 8pt;">
            <%= check_box_tag :std, 1, params[:std] %> <%= label_tag :std, 'standard deviation' %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td style="font-size: 8pt;">
            <%= check_box_tag :med, 1, params[:med] %> <%= label_tag :med, 'median' %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td style="padding-top: 10px">
            <%= submit_tag 'Chart' %>
          </td>
        </tr>
        <% if @count %>
          <tr>
            <td></td>
            <td style="padding-top: 15px; font-size: 8pt;">
              <%= number_with_delimiter(@count) %> responses used
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
  <% if @chart_table
    # Human-readable axis names
    x, y = field_title(params[:x]), field_title(params[:y])
    chart_title = y
    # Format array the way that Google wants it
    expanded_table = @chart_table.to_json.html_safe.to_s
    formatted_table = expanded_table.gsub(', nil', ', null') %>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart", "table"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        <% if @chart_type == 'bar' %>
          var data = google.visualization.arrayToDataTable(<%= formatted_table.html_safe %>);
          var chart_options = {
            title: '<%= chart_title %>',
            bar: { groupWidth: '75%' },
            isStacked: '<%= params[:stack_bars] == "stacked bars" %>',
            series: [{color: '#A14F0C'}, {color: '#00A76D'}, {color: '#8E0042'}, {color: '#00734A'}],
            hAxis: {title: '<%= x %>',  titleTextStyle: {color: 'black'}}
          };
          var bar_chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
          bar_chart.draw(data, chart_options);
        <% else %>
          var data = new google.visualization.DataTable();
          data.addColumn('string', '<%= x %>');
          data.addColumn('number', '<%= y %>');
          <% if params[:std] == '1' %>
            data.addColumn({id:'std', type:'number', role:'interval'});
            data.addColumn({id:'std', type:'number', role:'interval'});
          <% end
          if params[:med] == '1' %>
            data.addColumn({id:'med', type:'number'});
          <% end %>
          data.addRows(<%= formatted_table.html_safe %>);
          var chart_options = {
            title: '<%= chart_title %>',
            curveType:'function',
            lineWidth: 2,
            intervals: { 'color':'series-color' },
            interval: {
              'lim': { 'style':'area', 'curveType':'function', 'fillOpacity':0.1 },
              'std': { 'style':'area', 'curveType':'function' }
            },
            series: [{color: '#00A76D'}],
            legend: 'none',
            hAxis: {title: '<%= x %>',  titleTextStyle: {color: 'black'}}
          };
          var line_chart = new google.visualization.LineChart(document.getElementById('chart_div'));
          line_chart.draw(data, chart_options);
        <% end %>
        var table_options = {
          width: 648
        };
        var table = new google.visualization.Table(document.getElementById('table_div'));
          table.draw(data, table_options);
      }
    </script>
    <div style="float: right; background-color: white; width: 670px;">
      <div id="chart_div" style="height: 392px; width: 100%;"></div>
    </div>
  <% else %>
    <div style="float: right; background-color: white; width: 670px; height: 300px;">
      <div style="text-align: center; margin-top: 120px;">
        Submit query to begin
      </div>
    </div>
  <% end %>
</div>
<% if @chart_table %>
  <div id="table_div" style="width: 100%; margin-top: 10px;"></div>
  <div style="height: 62px; padding-top: 15px;">
    <div style="height: 60px; border: 1px solid black; padding: 5px; float: left; width: 120px; font-size: 8pt;">
      P-value
      <div style="font-size: 20pt;">
        <%= "%.3f" % @pvalue %>
      </div>
    </div>
    <div style="border: 1px dashed black; height: 60px; padding: 5px; margin-left: 145px; width: 741px;">
      <% degrees_of_freedom = @chart_table.first.length - 2
        if degrees_of_freedom == 0 %>
        With zero degrees of freedom, a meaningful P-value could not be calculated.
      <% else
        if @pvalue > 0.05 %>
          The trend is <span style="color: #8E0042;">not statistically significant</span> (p &gt; .05) suggesting that responses between <%= @bar_meaning == 'area' ? 'areas' : 'rounds' %> do not differ more than by chance.
        <% else %>
          The trend is statistically significant (p &lt; .05) suggesting that <%= @bar_meaning == 'area' ? 'area' : 'round' %> influences the responses to this question.
        <% end %>
        P-value was calculated with the &chi;&sup2; test using <%= pluralize(degrees_of_freedom, 'degree') %> of freedom. (This is fake right now because R is not running on the server)
      <% end %>
    </div>
  </div>
<% end %>
